$LIGHT_BG_SET: #84ddff;

$TYPE_INFO: #3372e8;
$TYPE_SUCCESS: #45e833;
$TYPE_ERROR: #d21760;
$TYPE_WARNING: #f19516;
$TYPE_DEFAULT: #f1f4fa;

$DARK_FONT: #232222;

$FONT_FAMILY: Roboto, sans-serif;

$PINK: #ff69b4;